/* --- Background image --- */

body {
  height: 100vh;
  position: relative;
}

/* Put background image in pseudo element of body so that opacity of image does not affect text in body element. */
body::before {
  content: "";
   /* Problem: Background image takes too long to load.
   Solution: Set two background images: FIRST the high-res image, then the low-res image. The browser will display the second image first, and when the high-res image has loaded, display it on top of low-res image. You need to set the background properties for BOTH images! */
  background: url('./images/high-res-shopping-cart.jpg'), url('./images/shopping-cart-small.jpg');
  background-position: center,
  center;
  background-size: cover,
  cover;
  background-repeat: no-repeat,
  no-repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  position: absolute;
}

.content-box {
  border-radius: 10px;
  background-color: white;
  margin-top: 50px;
  padding-bottom: 10px;
  opacity: 0.95;
}

/* --- Page headline --- */
.shopping-cart {
  padding-bottom: 10px;
}

/* --- Column titles --- */
.column-titles {
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}

.hide-titles {
  display: none;
}

.column-titles .item-subtotal,
.item .item-subtotal
 {
  text-align: center;
}

/* --- row items --- */
.row.item {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* --- input elements --- */
input.quantity {
  width: 50px;
}

.add-item {
  padding-top: 20px;
  /* border-top: 1px solid lightgrey; */
}

.add-item-name, 
.add-item-price {
  width: 150px;
}

/* --- Help text, if user enters negative number in quantity input field --- */
.help-block {
  display: none;
}

.help-block.active {
  display: block;
}

/* --- Add item fields --- */
.add-item {
  margin-top: 15px;
}

.add-item-help-block-1,
.add-item-help-block-2 {
  display: none;
}

.add-item-help-block-1.active,
.add-item-help-block-2.active {
  display: block;
}

/* --- Total price display --- */
.total-price-label, #total-price {
  display: inline-block;
}

#total-price {
  font-size: 30px;
  margin-left: 5px;
}

/* =========== Media queries ============= */

@media (min-width: 768px) { 
  .container {
    max-width: 720px;
  }
  input.quantity {
    width: 100px;
  }
 }

 @media (min-width: 992px) {
   .container {
     max-width: 930px;
   }
   .add-item-name, 
   .add-item-price {
     width: 200px;
   } 
 }

 @media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}